@import "../../../../styles/variables";
@import "../../../../styles/mixins";

.content-block {
  margin-top: 3rem;
  margin-bottom: 8rem;
  &__header {
    padding-bottom: .5rem;
    border-bottom: 1px solid gray;
    margin-bottom: 1rem;
    h1 {
      font-weight: 900;
      margin-bottom: 0;
    }
    &-description {
      color: gray;
      font-size: .8rem;
    }
  }
  &__description {
    @include mobile {
      margin-bottom: 1.5rem;
    }
  }
  &__links-list {
    @include listReset(0, 1rem);
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    @include mobile {
      padding: 0 0 0 .5rem;
    }
  }
}
